#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  font-size: 1.5rem;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 10px;
}

.title {
  font-size: 2rem;
  position: relative;
  margin: 0px;
  margin-bottom: 10px;
}

.title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0px;
  height: 2px;
  width: 100%;
  text-align: center;
  background-color: white;
  
}

form {
  display: grid;
}

form div {
  display: grid;
  grid-template-columns: 1fr 250px;
  margin: 10px;
}

form label {
  vertical-align: bottom;
  text-align: right;
}

form input {
  font-size: 1.5rem;
}

form button {
  margin: 10px 0px;
}